@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    
    min-height: 100vh;
    width: 100vw;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    overflow-x: hidden;
}

:root{
    --cor-de-fundo: #F3F3F3;
    --cor-primaria: #FF1654;
    --cor-escura: #1e1f20;
}


header{
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    
}

@keyframes abrirNavbarTopo {
    0%{
        top: -5%;
        opacity: 0;
    }

    100%{
        top: 0;
        opacity: 1;
    }
}

.navbar.ativo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-primaria);
    animation: abrirNavbarTopo .5s ease-out;
    border-radius: 0 0 10px 10px;
    padding: 5px 0;
}

.navbar.ativo #titulo-leia{
    color: var(--cor-de-fundo);
}


.nav-list{
    width: 50vw;
}

.nav-list a{
    position: relative;
    
    color: white;
    text-decoration: none;
    font-weight: 500;

}

.nav-list a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;   /*para deixar embaixo*/
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;   /*(COMEÇA)em vez de se originar do centro a linha vai se originar da direita*/
    transform: scaleX(0);  /*não aparece pq ta na escala X*/
    transition: transform .5s;
}

.nav-list a:hover::after{
    transform-origin: left; /*(TERMINA)*/
    transform: scaleX(1);  /*aparece quando passa por cima*/



}

.logo-leia{
    display: flex;
    justify-content: space-evenly;
    width: 17em;
    align-items: center;
}

#titulo-leia{
    font-size: 1em;
    color: var(--cor-primaria);
    font-weight: 600;

}

.imagem-leia{
    height: 7vh;
    margin-right: 10px;
}
.nav-list{
    z-index: 30;    
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}


.nav-link{
    text-decoration: none;
    padding: 5px 15px;
    color: var(--cor-de-fundo);
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
}

section{
    min-height: 100vh;
}

section:not(:nth-child(1)){ /*Todas as sections menos a primeira*/
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#inicio-pagina{

    min-height: 70vh;
}

@keyframes aparecer-celular{
    0%{
        right: 10vw;
        opacity: 0;
    }

    100%{
        right: 25vw;
        opacity: 1;
    }
}



#conteudo-inicial{
    width: 30vw;
    position: absolute;
    top: 40%;
    margin-left: 15vw;
    z-index: 0;
}

#texto-titulo{
    color:var(--cor-primaria);
    
}

#conteudo-inicial p{
    width: 30vw;
    text-align: justify;
}


.quadrado-fundo{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    border-radius: 40px;

    position: absolute;
    top: -10%;
    left: 47vw;
    transform: rotate(45deg);
    z-index: 0;
}


img.tela-inicial{
    animation: aparecer-celular 1s ease-in-out;
    width: 20vw;
    position: absolute;
    z-index: 40;
    top: 10%;
    right: 25vw;
    z-index: 50;
}



#container-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30vh;    
    

    width: 100vw;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.icon span.material-icons{
    color: var(--cor-primaria);
    font-size: 2em;
}

.cards{
    width: 20vw;
    height: 15VW;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 1em .5em;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.cards .titulo-card{
    color: var(--cor-primaria);
    text-align: center;
    
}
.cards p{
    text-align: justify;
    padding: 0 20px;
    font-size: 1.2em;      
}



.titulo-topico{

    justify-content: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-primaria);
    
    
}




section#container-funcionalidade{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 20vw;
    top: 160vh

}


#triangulo-func{
    position: relative;
    left: -10vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 114px 150px 114px;
    border-color: transparent transparent var(--cor-primaria) transparent;
    transform: rotate(65deg);
}



#linhas{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}

.containerQuadrado{
    display: flex;
    justify-content: center;
    margin: 0px 0px 70px 0px;
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    height: 100px;
    background-color: #D9D9D9;
}



.containerQuadrado .text{
    color: var(--cor-primaria);
    font-weight: 700;
    font-size: 35px;
}





#titulo-sobre{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 700;
    color: var(--cor-primaria);
    position: relative;
    top: 210vh;
}


#sobre-fundo{
    width: 900px;
    height: 750px;
    font-weight: 700;
    border-radius: 80px;
    background: var(--cor-primaria);
    position: relative;
    top: 218vh;
    left: 0;
    transform: rotate(45deg);
}

#sobre-text-sobre{
    display: flex;
    width: 30vw;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    position: relative;
    top: 165vh;
    left: 7vw;
}


#img-mao{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 700;
    color: var(--cor-primaria);
    position: relative;
    top: 85vh;
    left: 15vw;
}


footer{
    width: 100%;
    height: 300px;
    position: relative;
    top: 140vh;
    background-color: var(--cor-primaria);
    border-radius: 20px 80px 0px 0px;
    margin: 0px;
    padding: 50px;
    color: white;
}
#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:3vh;
}

.footer{
    width: 500px;
    text-align: justify;
}

#info-text{
    margin-left: 40vh;
    font-size: 18px;
    font-weight: 600;
}


#info-redes{
    margin-right: 40vh;
}



#p-footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15vh;
}


.navbar-mobile{
    display: none;
}
@media (max-width:768px) {
    html{
        overflow-x: hidden;
    }
    .navbar{
        display: none;
    }
    
   

    .navbar-mobile{
        position: fixed;
        height: 12vh;
        top: 50%;
        background-color: var(--cor-escura);
    }
    .mobile-nav-list{
        list-style-type: none;
        display: flex;
        
    }

    section#inicio-pagina{
        display: flex;
        flex-direction: column-reverse;
    }

    .celular{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    
    img.tela-inicial{
        width: 50vw;
        position: relative;
        margin: 0;
        transform: translateX(50%);
    }
    #conteudo-inicial{
        position: relative;
        width: 100vw;
        display: flex;
        flex-direction: column;

    }

    #conteudo-inicial p{
        width: 90vw;
    }

    .quadrado-fundo{
        left: 100%;
        top: -50%;
        position: absolute;
        z-index: -1;

    }



}