@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    min-height: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root{
    --cor-de-fundo: #F3F3F3;
    --cor-primaria: #FF1654;
    --cor-escura: #1e1f20;
}


header{
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo-leia{
    display: flex;
    justify-content: space-evenly;
    width: 17em;
    align-items: center;
}

#titulo-leia{
    font-size: 1em;
    color: var(--cor-primaria);
    font-weight: 600;

}

.imagem-leia{
    height: 7vh;
    margin-right: 10px;
}
.nav-list{
    z-index: 30;    
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}


.nav-link{
    text-decoration: none;
    padding: 5px 15px;
    color: var(--cor-de-fundo);
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
}

section#inicio-pagina{
    position: relative;
    min-height: 70vh;
}

@keyframes aparecer-celular{
    0%{
        right: 10vw;
        opacity: 0;
    }

    100%{
        right: 25vw;
        opacity: 1;
    }
}



#conteudo-inicial{
    width: 30vw;
    position: absolute;
    top: 40%;
    margin-left: 15vw;
    z-index: 50;
}

#texto-titulo{
    color:var(--cor-primaria);
    
}

#conteudo-inicial p{
    width: 30vw;
    text-align: justify;
}


.quadrado-fundo{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    border-radius: 40px;

    position: absolute;
    top: -25%;
    left: 47vw;
    transform: rotate(45deg);
    z-index: 0;
}

.celular{
    
}

img.tela-inicial{
    animation: aparecer-celular 1s ease-in-out;
    width: 20vw;
    position: absolute;
    z-index: 40;
    top: 10%;
    right: 25vw;
    z-index: 50;
}



#container-cards{
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
    position: relative;
    top: 60vh;
    
}

.cards{
    width: 270px;
    height: 260px;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    
}

.cards h2{
    color: #FF1654;
    text-align: center;
    font-size: 1.750em;
}
.cards p{
    text-align: justify;
    padding: 0 20px;
    font-size: 1.250em;      
}


h2#titulo-objetivos{
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 700;
    color: #FF1654;
    position: relative;
    top: 90vh;
}

#objetivos-app{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 300px;
    top: 90vh
}

.objetivos{
    position: relative;
    top: 10vw;
    width: 50%;
}


#circles{
    width: 300px;
    height: 300px;
    background-color: #1e1f20;
    border-radius: 100%;
}

#circles::before{
    position: relative;
    left: 60%;
    width: 300px;
    height: 300px;
    background-color: #3e5570;
    border-radius: 100%;
}


#sobre-text{
    font-size: 1.75em;
}