@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body{
    min-height: 100vh;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root{
    --cor-de-fundo: #F3F3F3;
    --cor-primaria: #FF1654;
    --cor-escura: #1e1f20;
}


header{
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo-leia{
    display: flex;
    justify-content: space-evenly;
    width: 17em;
    align-items: center;
}

#titulo-leia{
    font-size: 1em;
    color: var(--cor-primaria);
    font-weight: 600;
}

.imagem-leia{
    height: 7vh;
}
.nav-list{
    z-index: 30;    
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}


.nav-link{
    text-decoration: none;
    padding: 5px 15px;
    color: var(--cor-de-fundo);
    cursor: pointer;
    z-index: 100;
    font-weight: bold;
}

section#inicio-pagina{
    position: relative;
    min-height: 70vh;
}

@keyframes aparecer-celular{
    0%{
        right: 10vw;
        opacity: 0;
    }

    100%{
        right: 25vw;
        opacity: 1;
    }
}



#conteudo-inicial{
    width: 30vw;
    position: absolute;
    top: 40%;
    margin-left: 15vw;
    z-index: 50;
}

#texto-titulo{
    color:var(--cor-primaria);
    
}

#conteudo-inicial p{
    width: 30vw;
    text-align: justify;
}


.quadrado-fundo{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    border-radius: 40px;

    position: absolute;
    top: -25%;
    left: 47vw;
    transform: rotate(45deg);
    z-index: 0;
}

.celular{
    
}

img.tela-inicial{
    animation: aparecer-celular 1s ease-in-out;
    width: 20vw;
    
    position: absolute;
    z-index: 40;
    top: 10%;
    right: 25vw;
    z-index: 50;
}